html, body {
    font-family: verdana, sans-serif;
}

body {
    padding: 1em;
}

h1 {
    font-size: 200%;
    margin-bottom: 1em;
}

input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(1.3);

  /* Webkit browsers*/
  -webkit-transform: scale(1.3);
}

.taskEdit input[type=text] {
    padding: 0;
    margin: 0 0 0 1.7em;
    font-size: 1em;
    width: 80%;
}